<div class="dash">
	<div class="h-100vh position-relative overflow-hidden">
	<div class="p-5 h-100 position-relative z-index-2 overflow-auto  py-3 animated bounceInUp">
 		<div class="row">
  			<div class="col-sm-6">
  				<div id="projects" class="chart"></div>
  			</div>
  			<div class="col-sm-6">
  				<div id="socialcredit" class="chart"></div>
  			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-sm-6">
				<div id="skillset" class="chart"></div> 
			</div>
			<div class="col-sm-6">
			</div>
		</div>
		<i class="position-absolute z-index-1 fas fa-tachometer-alt text-secondary opacity-25 not-animated infinite pulse slower" style="bottom: 0.25em; right: -0.5em; font-size: 20em;"></i>
		<i class="position-absolute fas fa-tachometer-alt text-secondary opacity-25 not-animated infinite pulse slower delay-2s" style="bottom: -0.25em; right: 1em; font-size: 15em;"></i>
	</div>
</div>

<%= javascript_include_tag "applicant_profile" %>
