/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 */
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "tagsinput";
@import "tagsinput";
@import 'profile';

.mdl-layout-title {
	color: #ffffff !important;
	font-size: 30px;
}
.mdl-layout__header-row, .mdl-layout__header .mdl-layout__header--scroll {
	background-color: #212121 !important;
	color: #ffffff !important;
}

.mdl-layout__content {
	margin: 50px 0px 50px 100px !important;
}

.mdl-layout__header-row{
	background-color: #000000 !important;
}

#ccc {
	font-size: 80px;
	font-weight: bolder;
	line-height: 88px;
}

.log {
	font-size: 50px;
	font-weight: bold;
	line-height: 50px;

}
a {
	text-decoration: none !important;
}

a:hover {
	color: #830000;
}

.mdl-button {
	background-color: #000000 !important;
	color: #ffffff !important;
}

.btn .btn-primary .btn-block .btn-lg {
	background-color: #212121 !important;
}
