

			<main class="mdl-layout__content">
				<div class="page-content">
					<div class="mdl-grid">
						<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
							<div class="mdl-grid">
								<div id="ccc">
									Connect
									<br>
									Collaboarate
									<br>
									Create
								</div>
							</div>
							<div class="mdl-grid"></div>
							<div class="mdl-grid"></div>
							<div class="mdl-grid">
								<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
									<span>
										<h3>
											Hire
										</h3>
										<h5>
											Find a local to get the job done
										</h5>
										<br>
										<br>
										<a href="/signup">
											<button class="mdl-button mdl-js-button">
												Signup to Hire
											</button>
										</a>
									</span>
								</div>
								<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
									<span>
										<h3>
											Get hired
										</h3>
										<h5>
											Get payed to help out
										</h5>
										<br>
										<br>
									 <a href="/signup">
											<button class="mdl-button mdl-js-button">
												Signup to get hired
											</button>
									 </a>

									</span>
									
								</div>
							</div>

						</div>
						<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
							<%= image_tag("https://66.media.tumblr.com/377ef786790870960470cfcc9debcbd4/tumblr_olrnkrhHDJ1vxxl2uo1_500.gif") %>
						</div>
					</div>
				</div>
			</main>
