

	<main class="mdl-layout__content">
		<div class="page-content">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
					<%= link_to "Sign up to hire", new_employer_session_path, class: "log", :method => :get  %>
				</div>
				<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
					<%= link_to "Sign up to get hired", new_applicant_session_path, class: "log", :method => :get  %>
				</div>
			</div>
		</div>
	</main>


				
